<%- include('../partials/header') %>
<nav>
  <a href="/flights" id="new-all-flights" class="nav-link active">
    <span class="nav-link-span u-nav">All Flights</span>
  </a>
  <a href="/flights/new" id="new-flight" class="nav-link">
    <span class="nav-link-span u-nav">New Flight</span>
  </a>
</nav>
</header>
<main>
  <div class="top">
    <h2>Flight List</h2>
  </div>
  <div class="table">
    <table class="flight-table">
      <thead>
        <tr>
          <th class="title">Airline</th>
          <th class="title">Airport</th>
          <th class="title">Flight #</th>
          <th class="title">Day</th>
          <th class="title">Departing Date</th>
          <th class="title">Time</th>
          <th class="title"></th>
        </tr>
      </thead>
      <tbody>
        <% flights.forEach((f) => { %>
          <tr>
            <td class="airline"><%= f.airline %></td>
            <td class="airport"><%= f.airport %></td>
            <td class="flightNo"><%= f.flightNo %></td>
            <td class="departs-day"><%= moment(f.departs).format("ddd") %> </td>
            <td class="departs-date"><%= moment(f.departs).format("LL") %></td>
            <td class="departs-time"><%= moment(f.departs).format("LT z") %></td>
            <td class="detail-link">
              <a href="/flights/<%= f.id %>">
                <button class="details-button">Details</button>
              </a>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</main>
</body>
</html>
