<%- include('../partials/header') %>
<nav>
  <a href="/flights/<%= flight._id %>" id="flight-details" class="nav-link active">
    <span class="nav-link-span u-nav">Flight Details</span>
  </a>
  <a href="/flights" class="nav-link">
    <span class="nav-link-span u-nav">All Flights</span>
  </a>
  <a href="/flights/new" class="nav-link">
    <span class="nav-link-span u-nav">New Flight</span>
  </a>
</nav>
</header>
<main>
  <div class="top">
    <h2>Flight Details</h2>
  </div>
  <section id="show-page">
    <h2>Destination(s):</h2>
    <% if (flight.destination.length) { %>
    <table>
      <thead>
        <tr>
          <th>Airport</th>
          <th>Arrival Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="tb1">
        <% flight.destination.forEach((f) => { %>
        <tr>
          <th class="dest"><%= f.airport %></th>
          <td class="td1"><%= f.arrival %></td>
          <td class="detail">
            <form action="/destinations/<%= flight._id %>/<%= f._id %>?_method=DELETE" method="POST">
              <button class="delete" type="submit"><span>remove</span></button>
            </form>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <% } %>
  </section>
  <div class="forms">
    <h2>Enter a Destination:</h2>
    <form action="/flights/<%= flight._id %>/destinations" method="POST">
      <label>Destination:</label>
      <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
        <option value="ATL">ATL</option>
      </select>
      <br>
      <label>Arrival Time:</label>
      <input type="datetime-local" name="arrival" value="" />
      <br>
      <button class="submit">Submit</button>
    </form>
  </div>
  <br>
  <h2>Tickets: <button class="tickets-button" onclick="window.location.href='/flights/<%= flight._id %>/tickets/new'">Add Ticket</button></h2>
  <% if (ticket.length) { %>
  <table>
    <thead>
      <tr>
        <th>Seat</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="tb1">
      <% ticket.forEach((t) => { %>
      <tr>
        <th class="dest"><%= t.seat %></th>
        <td class="td1"><%= t.price %></td>
        <td class="detail">
          <form action="/tickets/<%= t.flight %>/<%= t._id %>?_method=DELETE" method="POST">
            <button class="delete" type="submit"><span>remove</span></button>
          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <% } %>
  <form action="/flights/<%= flight._id %>?_method=DELETE" method="POST">
    <button class="remove" type="submit">DELETE FLIGHT</button>
  </form>
</main>
